@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --primary-color: #ffc42c;
    --primary-color-hover: hsl(43, 91%, 58%);
    --sider-admin-color: #fff;
    --white-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: revert;
    font-weight: revert;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.content p {
    @apply my-6;
}

.content ul {
    @apply my-6;
}

/* antd */

.ant-input:hover,
.ant-input:focus {
    @apply border-grayscale-black;
}

.ant-btn-primary {
    @apply bg-primarys-default;
}

.ant-btn-primary:hover,
.ant-btn-primary:not(:disabled):hover {
    @apply bg-primarys-hover;
}

.ant-btn-primary:disabled {
    @apply bg-primarys-disabled text-white;
}

.ant-btn-default:not(:disabled):hover,
.ant-btn-dashed:not(:disabled):hover {
    @apply text-primarys-hover border-primarys-hover;
}
.ant-btn-text:not(:disabled):hover {
    @apply text-white  bg-primarys-hover;
}

.ant-btn-link:not(:disabled):hover {
    @apply text-primarys-default;
}

.ant-btn-link {
    @apply text-grayscale-black;
}
