.ant-layout .ant-layout-sider {
    background: var(--sider-admin-color) !important;
}
.ant-layout .ant-layout-sider-trigger {
    color: var(--primary-color) !important;
    background: var(--sider-admin-color) !important;
}

.ant-menu-light .ant-menu-item-selected {
    color: var(--white-color) !important;
    background: var(--primary-color) !important;
}

.ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title {
    color: var(--primary-color-hover) !important;
}
